@page "/yonetim/urun-yonetimi/kategori"
@model AdaKurumsal.Pages.Admin.ProductManagement.CategoryModel
@{
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}
<div class="breadcrumb-header justify-content-between">
    <div>
        <h4 class="content-title mb-2">Ürün Yönetimi</h4>
    </div>
    <div class="d-flex my-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Kategori</a></li>
                <li class="breadcrumb-item active " aria-current="page">Güncelle</li>
            </ol>
        </nav>
    </div>
</div>